[data-theme="violet"]{
    --gradient: rgba(146, 51, 234, 0.2);
    --900: rgba(76, 29, 149);
    --800: rgba(91, 33, 182);
    --700: rgba(109, 40, 217);
    --600: rgba(124, 58, 237);
    --500: rgba(139, 92, 246);
    --400: rgba(167, 139, 250);
    --300: rgba(196, 181, 253);
    --200: rgba(221, 214, 254);
    --100: rgba(237, 233, 254);
    --50: rgba(245, 243, 255);
    --50-0: rgba(245, 243, 255, .0);
    --50-10: rgba(245, 243, 255, .10);
    --50-20: rgba(245, 243, 255, .20);
    --50-30: rgba(245, 243, 255, .30);
    --50-40: rgba(245, 243, 255, .40);
    --50-50: rgba(245, 243, 255, .50);
    --50-60: rgba(245, 243, 255, .60);
    --50-70: rgba(245, 243, 255, .70);
    --50-80: rgba(245, 243, 255, .80);
    --50-90: rgba(245, 243, 255, .90);
    --100-0: rgba(237, 233, 254, .0);
    --100-10: rgba(237, 233, 254, .10);
    --100-20: rgba(237, 233, 254, .20);
    --100-30: rgba(237, 233, 254, .30);
    --100-40: rgba(237, 233, 254, .40);
    --100-50: rgba(237, 233, 254, .50);
    --100-60: rgba(237, 233, 254, .60);
    --100-70: rgba(237, 233, 254, .70);
    --100-80: rgba(237, 233, 254, .80);
    --100-90: rgba(237, 233, 254, .90);
    --200-0: rgba(221, 214, 254, .0);
    --200-10: rgba(221, 214, 254, .10);
    --200-20: rgba(221, 214, 254, .20);
    --200-30: rgba(221, 214, 254, .30);
    --200-40: rgba(221, 214, 254, .40);
    --200-50: rgba(221, 214, 254, .50);
    --200-60: rgba(221, 214, 254, .60);
    --200-70: rgba(221, 214, 254, .70);
    --200-80: rgba(221, 214, 254, .80);
    --200-90: rgba(221, 214, 254, .90);
    --300-0: rgba(196, 181, 253, .0);
    --300-10: rgba(196, 181, 253, .10);
    --300-20: rgba(196, 181, 253, .20);
    --300-30: rgba(196, 181, 253, .30);
    --300-40: rgba(196, 181, 253, .40);
    --300-50: rgba(196, 181, 253, .50);
    --300-60: rgba(196, 181, 253, .60);
    --300-70: rgba(196, 181, 253, .70);
    --300-80: rgba(196, 181, 253, .80);
    --300-90: rgba(196, 181, 253, .90);
    --400-0: rgba(167, 139, 250, .0);
    --400-10: rgba(167, 139, 250, .10);
    --400-20: rgba(167, 139, 250, .20);
    --400-30: rgba(167, 139, 250, .30);
    --400-40: rgba(167, 139, 250, .40);
    --400-50: rgba(167, 139, 250, .50);
    --400-60: rgba(167, 139, 250, .60);
    --400-70: rgba(167, 139, 250, .70);
    --400-80: rgba(167, 139, 250, .80);
    --400-90: rgba(167, 139, 250, .90);
    --500-0: rgba(139, 92, 246, .0);
    --500-10: rgba(139, 92, 246, .10);
    --500-20: rgba(139, 92, 246, .20);
    --500-30: rgba(139, 92, 246, .30);
    --500-40: rgba(139, 92, 246, .40);
    --500-50: rgba(139, 92, 246, .50);
    --500-60: rgba(139, 92, 246, .60);
    --500-70: rgba(139, 92, 246, .70);
    --500-80: rgba(139, 92, 246, .80);
    --500-90: rgba(139, 92, 246, .90);
    --600-0: rgba(124, 58, 237, .0);
    --600-10: rgba(124, 58, 237, .10);
    --600-20: rgba(124, 58, 237, .20);
    --600-30: rgba(124, 58, 237, .30);
    --600-40: rgba(124, 58, 237, .40);
    --600-50: rgba(124, 58, 237, .50);
    --600-60: rgba(124, 58, 237, .60);
    --600-70: rgba(124, 58, 237, .70);
    --600-80: rgba(124, 58, 237, .80);
    --600-90: rgba(124, 58, 237, .90);
    --700-0: rgba(109, 40, 217, .0);
    --700-10: rgba(109, 40, 217, .10);
    --700-20: rgba(109, 40, 217, .20);
    --700-30: rgba(109, 40, 217, .30);
    --700-40: rgba(109, 40, 217, .40);
    --700-50: rgba(109, 40, 217, .50);
    --700-60: rgba(109, 40, 217, .60);
    --700-70: rgba(109, 40, 217, .70);
    --700-80: rgba(109, 40, 217, .80);
    --700-90: rgba(109, 40, 217, .90);
    --800-0: rgba(91, 33, 182, .0);
    --800-10: rgba(91, 33, 182, .10);
    --800-20: rgba(91, 33, 182, .20);
    --800-30: rgba(91, 33, 182, .30);
    --800-40: rgba(91, 33, 182, .40);
    --800-50: rgba(91, 33, 182, .50);
    --800-60: rgba(91, 33, 182, .60);
    --800-70: rgba(91, 33, 182, .70);
    --800-80: rgba(91, 33, 182, .80);
    --800-90: rgba(91, 33, 182, .90);
    --900-0: rgba(76, 29, 149, .0);
    --900-10: rgba(76, 29, 149, .10);
    --900-20: rgba(76, 29, 149, .20);
    --900-30: rgba(76, 29, 149, .30);
    --900-40: rgba(76, 29, 149, .40);
    --900-50: rgba(76, 29, 149, .50);
    --900-60: rgba(76, 29, 149, .60);
    --900-70: rgba(76, 29, 149, .70);
    --900-80: rgba(76, 29, 149, .80);
    --900-90: rgba(76, 29, 149, .90);
    
}
[data-theme="blue"] {
    --gradient: rgba(51, 136, 234, 0.2);
    --900: rgba(30, 58, 138);
    --800: rgba(30, 64, 175);
    --700: rgba(29, 78, 216);
    --600: rgba(37, 99, 235);
    --500: rgba(59, 130, 246);
    --400: rgba(96, 165, 250);
    --300: rgba(147, 197, 253);
    --200: rgba(191, 219, 254);
    --100: rgba(219, 234, 254);
    --50: rgba(239, 246, 255);
    --900-90: rgba(30, 58, 138, .90);
    --900-80: rgba(30, 58, 138, .80);
    --900-70: rgba(30, 58, 138, .70);
    --900-60: rgba(30, 58, 138, .60);
    --900-50: rgba(30, 58, 138, .50);
    --900-40: rgba(30, 58, 138, .40);
    --900-30: rgba(30, 58, 138, .30);
    --900-20: rgba(30, 58, 138, .20);
    --900-10: rgba(30, 58, 138, .10);
    --900-0: rgba(30, 58, 138, .0);
    --800-90: rgba(30, 64, 175, .90);
    --800-80: rgba(30, 64, 175, .80);
    --800-70: rgba(30, 64, 175, .70);
    --800-60: rgba(30, 64, 175, .60);
    --800-50: rgba(30, 64, 175, .50);
    --800-40: rgba(30, 64, 175, .40);
    --800-30: rgba(30, 64, 175, .30);
    --800-20: rgba(30, 64, 175, .20);
    --800-10: rgba(30, 64, 175, .10);
    --800-0: rgba(30, 64, 175, .0);
    --700-90: rgba(29, 78, 216, .90);
    --700-80: rgba(29, 78, 216, .80);
    --700-70: rgba(29, 78, 216, .70);
    --700-60: rgba(29, 78, 216, .60);
    --700-50: rgba(29, 78, 216, .50);
    --700-40: rgba(29, 78, 216, .40);
    --700-30: rgba(29, 78, 216, .30);
    --700-20: rgba(29, 78, 216, .20);
    --700-10: rgba(29, 78, 216, .10);
    --700-0: rgba(29, 78, 216, .0);
    --600-90: rgba(37, 99, 235, .90);
    --600-80: rgba(37, 99, 235, .80);
    --600-70: rgba(37, 99, 235, .70);
    --600-60: rgba(37, 99, 235, .60);
    --600-50: rgba(37, 99, 235, .50);
    --600-40: rgba(37, 99, 235, .40);
    --600-30: rgba(37, 99, 235, .30);
    --600-20: rgba(37, 99, 235, .20);
    --600-10: rgba(37, 99, 235, .10);
    --600-0: rgba(37, 99, 235, .0);
    --500-90: rgba(59, 130, 246, .90);
    --500-80: rgba(59, 130, 246, .80);
    --500-70: rgba(59, 130, 246, .70);
    --500-60: rgba(59, 130, 246, .60);
    --500-50: rgba(59, 130, 246, .50);
    --500-40: rgba(59, 130, 246, .40);
    --500-30: rgba(59, 130, 246, .30);
    --500-20: rgba(59, 130, 246, .20);
    --500-10: rgba(59, 130, 246, .10);
    --500-0: rgba(59, 130, 246, .0);
    --400-90: rgba(96, 165, 250, .90);
    --400-80: rgba(96, 165, 250, .80);
    --400-70: rgba(96, 165, 250, .70);
    --400-60: rgba(96, 165, 250, .60);
    --400-50: rgba(96, 165, 250, .50);
    --400-40: rgba(96, 165, 250, .40);
    --400-30: rgba(96, 165, 250, .30);
    --400-20: rgba(96, 165, 250, .20);
    --400-10: rgba(96, 165, 250, .10);
    --400-0: rgba(96, 165, 250, .0);
    --300-90: rgba(147, 197, 253, .90);
    --300-80: rgba(147, 197, 253, .80);
    --300-70: rgba(147, 197, 253, .70);
    --300-60: rgba(147, 197, 253, .60);
    --300-50: rgba(147, 197, 253, .50);
    --300-40: rgba(147, 197, 253, .40);
    --300-30: rgba(147, 197, 253, .30);
    --300-20: rgba(147, 197, 253, .20);
    --300-10: rgba(147, 197, 253, .10);
    --300-0: rgba(147, 197, 253, .0);
    --200-90: rgba(219, 234, 254, .90);
    --200-80: rgba(219, 234, 254, .80);
    --200-70: rgba(219, 234, 254, .70);
    --200-60: rgba(219, 234, 254, .60);
    --200-50: rgba(219, 234, 254, .50);
    --200-40: rgba(219, 234, 254, .40);
    --200-30: rgba(219, 234, 254, .30);
    --200-20: rgba(219, 234, 254, .20);
    --200-10: rgba(219, 234, 254, .10);
    --200-0: rgba(219, 234, 254, .0);
    --100-90: rgba(219, 234, 254, .90);
    --100-80: rgba(219, 234, 254, .80);
    --100-70: rgba(219, 234, 254, .70);
    --100-60: rgba(219, 234, 254, .60);
    --100-50: rgba(219, 234, 254, .50);
    --100-40: rgba(219, 234, 254, .40);
    --100-30: rgba(219, 234, 254, .30);
    --100-20: rgba(219, 234, 254, .20);
    --100-10: rgba(219, 234, 254, .10);
    --100-0: rgba(219, 234, 254, .0);
    --50-90: rgba(239, 246, 255, .90);
    --50-80: rgba(239, 246, 255, .80);
    --50-70: rgba(239, 246, 255, .70);
    --50-60: rgba(239, 246, 255, .60);
    --50-50: rgba(239, 246, 255, .50);
    --50-40: rgba(239, 246, 255, .40);
    --50-30: rgba(239, 246, 255, .30);
    --50-20: rgba(239, 246, 255, .20);
    --50-10: rgba(239, 246, 255, .10);
    --50-0: rgba(239, 246, 255, .0);
}
[data-theme="rose"] {
    --gradient: rgba(239, 68, 68, 0.2);
    --50: rgba(254, 242, 242);
	--50-0: rgba(254, 242, 242, .0);
	--50-10: rgba(254, 242, 242, .10);
	--50-20: rgba(254, 242, 242, .20);
	--50-30: rgba(254, 242, 242, .30);
	--50-40: rgba(254, 242, 242, .40);
	--50-50: rgba(254, 242, 242, .50);
	--50-60: rgba(254, 242, 242, .60);
	--50-70: rgba(254, 242, 242, .70);
	--50-80: rgba(254, 242, 242, .80);
	--50-90: rgba(254, 242, 242, .90);
	--100: rgba(254, 226, 226);
	--100-0: rgba(254, 226, 226, .0);
	--100-10: rgba(254, 226, 226, .10);
	--100-20: rgba(254, 226, 226, .20);
	--100-30: rgba(254, 226, 226, .30);
	--100-40: rgba(254, 226, 226, .40);
	--100-50: rgba(254, 226, 226, .50);
	--100-60: rgba(254, 226, 226, .60);
	--100-70: rgba(254, 226, 226, .70);
	--100-80: rgba(254, 226, 226, .80);
	--100-90: rgba(254, 226, 226, .90);
	--200: rgba(254, 202, 202);
	--200-0: rgba(254, 202, 202, .0);
	--200-10: rgba(254, 202, 202, .10);
	--200-20: rgba(254, 202, 202, .20);
	--200-30: rgba(254, 202, 202, .30);
	--200-40: rgba(254, 202, 202, .40);
	--200-50: rgba(254, 202, 202, .50);
	--200-60: rgba(254, 202, 202, .60);
	--200-70: rgba(254, 202, 202, .70);
	--200-80: rgba(254, 202, 202, .80);
	--200-90: rgba(254, 202, 202, .90);
	--300: rgba(252, 165, 165);
	--300-0: rgba(252, 165, 165, .0);
	--300-10: rgba(252, 165, 165, .10);
	--300-20: rgba(252, 165, 165, .20);
	--300-30: rgba(252, 165, 165, .30);
	--300-40: rgba(252, 165, 165, .40);
	--300-50: rgba(252, 165, 165, .50);
	--300-60: rgba(252, 165, 165, .60);
	--300-70: rgba(252, 165, 165, .70);
	--300-80: rgba(252, 165, 165, .80);
	--300-90: rgba(252, 165, 165, .90);
	--400: rgba(248, 113, 113);
	--400-0: rgba(248, 113, 113, .0);
	--400-10: rgba(248, 113, 113, .10);
	--400-20: rgba(248, 113, 113, .20);
	--400-30: rgba(248, 113, 113, .30);
	--400-40: rgba(248, 113, 113, .40);
	--400-50: rgba(248, 113, 113, .50);
	--400-60: rgba(248, 113, 113, .60);
	--400-70: rgba(248, 113, 113, .70);
	--400-80: rgba(248, 113, 113, .80);
	--400-90: rgba(248, 113, 113, .90);
	--500: rgba(239, 68, 68);
	--500-0: rgba(239, 68, 68, .0);
	--500-10: rgba(239, 68, 68, .10);
	--500-20: rgba(239, 68, 68, .20);
	--500-30: rgba(239, 68, 68, .30);
	--500-40: rgba(239, 68, 68, .40);
	--500-50: rgba(239, 68, 68, .50);
	--500-60: rgba(239, 68, 68, .60);
	--500-70: rgba(239, 68, 68, .70);
	--500-80: rgba(239, 68, 68, .80);
	--500-90: rgba(239, 68, 68, .90);
	--600: rgba(220, 38, 38);
	--600-0: rgba(220, 38, 38, .0);
	--600-10: rgba(220, 38, 38, .10);
	--600-20: rgba(220, 38, 38, .20);
	--600-30: rgba(220, 38, 38, .30);
	--600-40: rgba(220, 38, 38, .40);
	--600-50: rgba(220, 38, 38, .50);
	--600-60: rgba(220, 38, 38, .60);
	--600-70: rgba(220, 38, 38, .70);
	--600-80: rgba(220, 38, 38, .80);
	--600-90: rgba(220, 38, 38, .90);
	--700: rgba(185, 28, 28);
	--700-0: rgba(185, 28, 28, .0);
	--700-10: rgba(185, 28, 28, .10);
	--700-20: rgba(185, 28, 28, .20);
	--700-30: rgba(185, 28, 28, .30);
	--700-40: rgba(185, 28, 28, .40);
	--700-50: rgba(185, 28, 28, .50);
	--700-60: rgba(185, 28, 28, .60);
	--700-70: rgba(185, 28, 28, .70);
	--700-80: rgba(185, 28, 28, .80);
	--700-90: rgba(185, 28, 28, .90);
	--800: rgba(153, 27, 27);
	--800-0: rgba(153, 27, 27, .0);
	--800-10: rgba(153, 27, 27, .10);
	--800-20: rgba(153, 27, 27, .20);
	--800-30: rgba(153, 27, 27, .30);
	--800-40: rgba(153, 27, 27, .40);
	--800-50: rgba(153, 27, 27, .50);
	--800-60: rgba(153, 27, 27, .60);
	--800-70: rgba(153, 27, 27, .70);
	--800-80: rgba(153, 27, 27, .80);
	--800-90: rgba(153, 27, 27, .90);
	--900: rgba(127, 29, 29);
	--900-0: rgba(127, 29, 29, .0);
	--900-10: rgba(127, 29, 29, .10);
	--900-20: rgba(127, 29, 29, .20);
	--900-30: rgba(127, 29, 29, .30);
	--900-40: rgba(127, 29, 29, .40);
	--900-50: rgba(127, 29, 29, .50);
	--900-60: rgba(127, 29, 29, .60);
	--900-70: rgba(127, 29, 29, .70);
	--900-80: rgba(127, 29, 29, .80);
	--900-90: rgba(127, 29, 29, .90);
}
[data-theme=amber] {
    --gradient: rgba(245, 158, 11, .2);
	--50: rgba(255, 251, 235);
	--50-0: rgba(255, 251, 235, .0);
	--50-10: rgba(255, 251, 235, .10);
	--50-20: rgba(255, 251, 235, .20);
	--50-30: rgba(255, 251, 235, .30);
	--50-40: rgba(255, 251, 235, .40);
	--50-50: rgba(255, 251, 235, .50);
	--50-60: rgba(255, 251, 235, .60);
	--50-70: rgba(255, 251, 235, .70);
	--50-80: rgba(255, 251, 235, .80);
	--50-90: rgba(255, 251, 235, .90);
	--100: rgba(254, 243, 199);
	--100-0: rgba(254, 243, 199, .0);
	--100-10: rgba(254, 243, 199, .10);
	--100-20: rgba(254, 243, 199, .20);
	--100-30: rgba(254, 243, 199, .30);
	--100-40: rgba(254, 243, 199, .40);
	--100-50: rgba(254, 243, 199, .50);
	--100-60: rgba(254, 243, 199, .60);
	--100-70: rgba(254, 243, 199, .70);
	--100-80: rgba(254, 243, 199, .80);
	--100-90: rgba(254, 243, 199, .90);
	--200: rgba(253, 230, 138);
	--200-0: rgba(253, 230, 138, .0);
	--200-10: rgba(253, 230, 138, .10);
	--200-20: rgba(253, 230, 138, .20);
	--200-30: rgba(253, 230, 138, .30);
	--200-40: rgba(253, 230, 138, .40);
	--200-50: rgba(253, 230, 138, .50);
	--200-60: rgba(253, 230, 138, .60);
	--200-70: rgba(253, 230, 138, .70);
	--200-80: rgba(253, 230, 138, .80);
	--200-90: rgba(253, 230, 138, .90);
	--300: rgba(252, 211, 77);
	--300-0: rgba(252, 211, 77, .0);
	--300-10: rgba(252, 211, 77, .10);
	--300-20: rgba(252, 211, 77, .20);
	--300-30: rgba(252, 211, 77, .30);
	--300-40: rgba(252, 211, 77, .40);
	--300-50: rgba(252, 211, 77, .50);
	--300-60: rgba(252, 211, 77, .60);
	--300-70: rgba(252, 211, 77, .70);
	--300-80: rgba(252, 211, 77, .80);
	--300-90: rgba(252, 211, 77, .90);
	--400: rgba(251, 191, 36);
	--400-0: rgba(251, 191, 36, .0);
	--400-10: rgba(251, 191, 36, .10);
	--400-20: rgba(251, 191, 36, .20);
	--400-30: rgba(251, 191, 36, .30);
	--400-40: rgba(251, 191, 36, .40);
	--400-50: rgba(251, 191, 36, .50);
	--400-60: rgba(251, 191, 36, .60);
	--400-70: rgba(251, 191, 36, .70);
	--400-80: rgba(251, 191, 36, .80);
	--400-90: rgba(251, 191, 36, .90);
	--500: rgba(245, 158, 11);
	--500-0: rgba(245, 158, 11, .0);
	--500-10: rgba(245, 158, 11, .10);
	--500-20: rgba(245, 158, 11, .20);
	--500-30: rgba(245, 158, 11, .30);
	--500-40: rgba(245, 158, 11, .40);
	--500-50: rgba(245, 158, 11, .50);
	--500-60: rgba(245, 158, 11, .60);
	--500-70: rgba(245, 158, 11, .70);
	--500-80: rgba(245, 158, 11, .80);
	--500-90: rgba(245, 158, 11, .90);
	--600: rgba(217, 119, 6);
	--600-0: rgba(217, 119, 6, .0);
	--600-10: rgba(217, 119, 6, .10);
	--600-20: rgba(217, 119, 6, .20);
	--600-30: rgba(217, 119, 6, .30);
	--600-40: rgba(217, 119, 6, .40);
	--600-50: rgba(217, 119, 6, .50);
	--600-60: rgba(217, 119, 6, .60);
	--600-70: rgba(217, 119, 6, .70);
	--600-80: rgba(217, 119, 6, .80);
	--600-90: rgba(217, 119, 6, .90);
	--700: rgba(180, 83, 9);
	--700-0: rgba(180, 83, 9, .0);
	--700-10: rgba(180, 83, 9, .10);
	--700-20: rgba(180, 83, 9, .20);
	--700-30: rgba(180, 83, 9, .30);
	--700-40: rgba(180, 83, 9, .40);
	--700-50: rgba(180, 83, 9, .50);
	--700-60: rgba(180, 83, 9, .60);
	--700-70: rgba(180, 83, 9, .70);
	--700-80: rgba(180, 83, 9, .80);
	--700-90: rgba(180, 83, 9, .90);
	--800: rgba(146, 64, 14);
	--800-0: rgba(146, 64, 14, .0);
	--800-10: rgba(146, 64, 14, .10);
	--800-20: rgba(146, 64, 14, .20);
	--800-30: rgba(146, 64, 14, .30);
	--800-40: rgba(146, 64, 14, .40);
	--800-50: rgba(146, 64, 14, .50);
	--800-60: rgba(146, 64, 14, .60);
	--800-70: rgba(146, 64, 14, .70);
	--800-80: rgba(146, 64, 14, .80);
	--800-90: rgba(146, 64, 14, .90);
	--900: rgba(120, 53, 15);
	--900-0: rgba(120, 53, 15, .0);
	--900-10: rgba(120, 53, 15, .10);
	--900-20: rgba(120, 53, 15, .20);
	--900-30: rgba(120, 53, 15, .30);
	--900-40: rgba(120, 53, 15, .40);
	--900-50: rgba(120, 53, 15, .50);
	--900-60: rgba(120, 53, 15, .60);
	--900-70: rgba(120, 53, 15, .70);
	--900-80: rgba(120, 53, 15, .80);
	--900-90: rgba(120, 53, 15, .90);
}
[data-theme=emerald] {
    --gradient: rgba(16, 185, 129, .2);
	--50: rgba(236, 253, 245);
	--50-0: rgba(236, 253, 245, .0);
	--50-10: rgba(236, 253, 245, .10);
	--50-20: rgba(236, 253, 245, .20);
	--50-30: rgba(236, 253, 245, .30);
	--50-40: rgba(236, 253, 245, .40);
	--50-50: rgba(236, 253, 245, .50);
	--50-60: rgba(236, 253, 245, .60);
	--50-70: rgba(236, 253, 245, .70);
	--50-80: rgba(236, 253, 245, .80);
	--50-90: rgba(236, 253, 245, .90);
	--100: rgba(209, 250, 229);
	--100-0: rgba(209, 250, 229, .0);
	--100-10: rgba(209, 250, 229, .10);
	--100-20: rgba(209, 250, 229, .20);
	--100-30: rgba(209, 250, 229, .30);
	--100-40: rgba(209, 250, 229, .40);
	--100-50: rgba(209, 250, 229, .50);
	--100-60: rgba(209, 250, 229, .60);
	--100-70: rgba(209, 250, 229, .70);
	--100-80: rgba(209, 250, 229, .80);
	--100-90: rgba(209, 250, 229, .90);
	--200: rgba(167, 243, 208);
	--200-0: rgba(167, 243, 208, .0);
	--200-10: rgba(167, 243, 208, .10);
	--200-20: rgba(167, 243, 208, .20);
	--200-30: rgba(167, 243, 208, .30);
	--200-40: rgba(167, 243, 208, .40);
	--200-50: rgba(167, 243, 208, .50);
	--200-60: rgba(167, 243, 208, .60);
	--200-70: rgba(167, 243, 208, .70);
	--200-80: rgba(167, 243, 208, .80);
	--200-90: rgba(167, 243, 208, .90);
	--300: rgba(110, 231, 183);
	--300-0: rgba(110, 231, 183, .0);
	--300-10: rgba(110, 231, 183, .10);
	--300-20: rgba(110, 231, 183, .20);
	--300-30: rgba(110, 231, 183, .30);
	--300-40: rgba(110, 231, 183, .40);
	--300-50: rgba(110, 231, 183, .50);
	--300-60: rgba(110, 231, 183, .60);
	--300-70: rgba(110, 231, 183, .70);
	--300-80: rgba(110, 231, 183, .80);
	--300-90: rgba(110, 231, 183, .90);
	--400: rgba(52, 211, 153);
	--400-0: rgba(52, 211, 153, .0);
	--400-10: rgba(52, 211, 153, .10);
	--400-20: rgba(52, 211, 153, .20);
	--400-30: rgba(52, 211, 153, .30);
	--400-40: rgba(52, 211, 153, .40);
	--400-50: rgba(52, 211, 153, .50);
	--400-60: rgba(52, 211, 153, .60);
	--400-70: rgba(52, 211, 153, .70);
	--400-80: rgba(52, 211, 153, .80);
	--400-90: rgba(52, 211, 153, .90);
	--500: rgba(16, 185, 129);
	--500-0: rgba(16, 185, 129, .0);
	--500-10: rgba(16, 185, 129, .10);
	--500-20: rgba(16, 185, 129, .20);
	--500-30: rgba(16, 185, 129, .30);
	--500-40: rgba(16, 185, 129, .40);
	--500-50: rgba(16, 185, 129, .50);
	--500-60: rgba(16, 185, 129, .60);
	--500-70: rgba(16, 185, 129, .70);
	--500-80: rgba(16, 185, 129, .80);
	--500-90: rgba(16, 185, 129, .90);
	--600: rgba(5, 150, 105);
	--600-0: rgba(5, 150, 105, .0);
	--600-10: rgba(5, 150, 105, .10);
	--600-20: rgba(5, 150, 105, .20);
	--600-30: rgba(5, 150, 105, .30);
	--600-40: rgba(5, 150, 105, .40);
	--600-50: rgba(5, 150, 105, .50);
	--600-60: rgba(5, 150, 105, .60);
	--600-70: rgba(5, 150, 105, .70);
	--600-80: rgba(5, 150, 105, .80);
	--600-90: rgba(5, 150, 105, .90);
	--700: rgba(4, 120, 87);
	--700-0: rgba(4, 120, 87, .0);
	--700-10: rgba(4, 120, 87, .10);
	--700-20: rgba(4, 120, 87, .20);
	--700-30: rgba(4, 120, 87, .30);
	--700-40: rgba(4, 120, 87, .40);
	--700-50: rgba(4, 120, 87, .50);
	--700-60: rgba(4, 120, 87, .60);
	--700-70: rgba(4, 120, 87, .70);
	--700-80: rgba(4, 120, 87, .80);
	--700-90: rgba(4, 120, 87, .90);
	--800: rgba(6, 95, 70);
	--800-0: rgba(6, 95, 70, .0);
	--800-10: rgba(6, 95, 70, .10);
	--800-20: rgba(6, 95, 70, .20);
	--800-30: rgba(6, 95, 70, .30);
	--800-40: rgba(6, 95, 70, .40);
	--800-50: rgba(6, 95, 70, .50);
	--800-60: rgba(6, 95, 70, .60);
	--800-70: rgba(6, 95, 70, .70);
	--800-80: rgba(6, 95, 70, .80);
	--800-90: rgba(6, 95, 70, .90);
	--900: rgba(6, 78, 59);
	--900-0: rgba(6, 78, 59, .0);
	--900-10: rgba(6, 78, 59, .10);
	--900-20: rgba(6, 78, 59, .20);
	--900-30: rgba(6, 78, 59, .30);
	--900-40: rgba(6, 78, 59, .40);
	--900-50: rgba(6, 78, 59, .50);
	--900-60: rgba(6, 78, 59, .60);
	--900-70: rgba(6, 78, 59, .70);
	--900-80: rgba(6, 78, 59, .80);
	--900-90: rgba(6, 78, 59, .90);
}
.bg-500 { background: var(--500); }
.text-500-violet { color: rgba(139, 92, 246); }
.text-500-blue { color: rgba(59, 130, 246); }
.text-500-emerald { color: rgb(16, 185, 129); }
.text-500-rose { color: rgb(239, 68, 68); }
.text-500-amber { color: rgb(245, 158, 11); }